@using MDTasks.Models
@model SearchingTask
@{
    ViewData["Title"] = "SearchTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Task Search</h3>
<div class="row">
    @using (Html.BeginForm("SearchingTask", "Employee", FormMethod.Post))
    {
        @*<div class="form-group">
            <label asp-for="TaskName" class="col-form-label textbox-label"></label>
            <input asp-for="TaskName" class="form-control" />
        </div>*@
        <div class="form-group">
            <label asp-for="Completed" class="col-form-label textbox-label"></label>
            <input asp-for="Completed" class="form-control" />
        </div>
        <div>
            <button id="btnSaveCompetitor" type="submit" class="btn btn-success">Search</button>
        </div>
    }
</div>

